<settings>
	<mirrors>
		<mirror>
			<id>central</id>
			<name>central</name>
			<url>http://nexus.sundsvall.se/repository/maven-public/</url>
			<mirrorOf>*</mirrorOf>
		</mirror>
	</mirrors>
	<profiles>
		<profile>
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>
			<id>nexus</id>
			<repositories>
				<repository>
					<id>nexus</id>
					<url>http://nexus.sundsvall.se/repository/maven-public/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
					</snapshots>
				</repository>
			</repositories>
		</profile>
	</profiles>
</settings>